<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Site{% endblock %}</title>
    <link rel="stylesheet" href="assets/style.css">
    <link rel="stylesheet" href="assets/style_Home.css">
    <link rel="stylesheet" href="assets/style_CreateAccount.css">
    <link rel="stylesheet" href="assets/style_Account.css">
    <link rel="stylesheet" href="assets/style_modifyaccount.css">
    <link rel="stylesheet" href="assets/style_SearchAccount.css">
    <link rel="stylesheet" href="assets/style_Company.css">
    <link rel="stylesheet" href="assets/style_Offer.css">
</head>
<body>
    {% include 'header.twig' with {'user_role': user_role}%}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.twig' %}
</body>
    <script src="assets/js/header.js" defer></script>
    <script src="assets/js/script_CreateAccount.js" defer></script>
    <script src="assets/js/Offer.js" defer></script>
</html>
