{% extends 'base.twig' %}

{% block title %}CreateAccount{% endblock %}

{% block content %}

<main class="EditAccount">
    <section class="creation" id="creation">

        <h2>Création de compte</h2>
        <a>Choix du type de compte</a>
        
        {% if Error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        {% if Success %}
            <p style="color: green;">{{ Success }}</p>
        {% endif %}

        <section class="create-etudiant" id="create-etudiant">
            <form method="POST">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="choix" value="Etudiant" id="checkbox1" class="checkbox1" onchange="toggleMessage1()"> Étudiant
                    </label>

                    {% if Admin %}
                        <label>
                            <input type="checkbox" name="choix" value="Pilote" id="checkbox2" class="checkbox2" onchange="toggleMessage2()"> Pilote
                        </label>
                    {% endif %}
                </div>
                <div class="form-container">
                    <label for="adresse">Nom :</label>
                    <input type="text" id="nom" name="nom" placeholder="Votre nom" required>

                    <label for="adresse">Prénom :</label>
                    <input type="text" id="prenom" name="prenom" placeholder="Votre prénom" required>

                    <label for="adresse">Date de naissance :</label>
                    <input type="date" id="dateNaissance" name="dateNaissance" placeholder="Votre Date de naissance" required>

                    <label for="email">Email :</label>
                    <input type="email" id="email" name="email" placeholder="L'email" autocomplete="email" required>

                    <label for="telephone">Numéro de téléphone :</label>
                    <input type="tel" id="telephone" name="telephone" placeholder="Le numéro de téléphone"
                        pattern="[0-9]{10}" required>

                    <label for="password1">Choix du mot de passe :</label>
                    <div class="password-container">
                        <input type="password" id="password1" name="password1" placeholder="Choisisez le mot de passe"
                            minlength="6" required>
                        <img src="https://cdn-icons-png.flaticon.com/512/565/565655.png" alt="Afficher"
                            class="toggle-password" id="toggle-password" onclick="Click()">
                    </div>

                    <label for="confirm-password">Confirmation du mot de passe :</label>
                    <input type="password" id="confirm-password" name="confirm-password"
                        placeholder="Confirmez le mot de passe" minlength="6" required>

                    <button type="submit" class="btn-primary">Enregistrement</button>
                    <hr>
                    <label>En créant un compte, vous acceptez nos Conditions de service et notre Politique de
                        confidentialité.
                    </label>
                </div>
            </form>
        </section>
    </section>
            

</main>



{% endblock %}