{% extends 'base.twig' %}

{% block title %}Modify Account{% endblock %}

{% block content %}

	<main class="main-modifyaccount">

		<div class="container">
			<h2>Voici le compte :</h2>
			<form method='POST'>
				<label for="description">Pour ajouter des détails au profil, décrivez le parcours ici :</label>
				<textarea id="description" name="details" placeholder="Ajoutez des détails" ></textarea>

				<label for="etude">Niveau d'étude :</label>
				<input type="text" id="etude" name="school" placeholder="Son niveau d'étude" >

				<label for="adresse">Adresse :</label>
				<input type="text" id="adresse" name="address" placeholder="Son adresse" >

				<label for="telephone">Numéro de téléphone :</label>
				<input type="tel" id="telephone" name="phone" placeholder="Son numéro de téléphone" pattern="[0-9]{10}" >


				<label for="password">Mot de passe :</label>
				<input type="password" id="password" name="password" placeholder="Nouveau mot de passe" minlength="8" >

				<label for="confirm-password">Confirmation du mot de passe :</label>
				<input type="password" id="confirm-password" name="confirm-password" placeholder="Confirmez du nouveau mot de passe" minlength="8" value="{{ password2 }}" >

				<label for="confirm-password">{{error}}</label>

				<button type="submit" name="update_account" class="btn-primary">Enregistrement</button>
				<button type="submit" name="delete_account" class="btn-danger">Supprimer</button>
			</form>
		</div>

	</main>


{% endblock %}
