{% extends 'base.twig' %}

{% block title %}Page_Connection{% endblock %}

{% block content %}
    <main>
        <section class="Bloc_Authentification">
            <h2>Authentification</h2>
            <p>Restez à jour sur le monde professionnel</p>
            <form action="index.php?page=login" method="POST">
                <input type="email" id="email" name="email" placeholder="Email" required>

                <input type="password" id="password" name="password" placeholder="Mot de passe" minlength="8" required>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}

                <button type="submit" class="Bouton_connexion">Connexion</button>
            </form>

            <p>Service Client : <a href="#">XX.XX.XX.XX.XX</a></p>

        </section>
    </main>

{% endblock %}
