<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InternShip</title>
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>

    <header>
        <img src="assets/img/Logo_InternShip.svg" alt="logo" class="logo">
    </header>

    <main>
        <section class="Bloc_Authentification">
            <h2>Authentification</h2>
            <p>Restez à jour sur le monde professionnel</p>
            <form action="index.php?page=login" method="POST">
                <input type="email" id="email" name="email" placeholder="Email" required>

                <input type="password" id="password" name="password" placeholder="Mot de passe" minlength="8" required>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}

                <button type="submit" class="Bouton_connexion">Connexion</button>
            </form>

            <p>Service Client : <a href="#">XX.XX.XX.XX.XX</a></p>

        </section>
    </main>

    <footer>
        <p>Service Client :</p>
        <p>Numéro : 09.01.02.03.04</p>
        <p>Adresse mail : InternShip.Contact@internship.fr</p>
        <div>
            <a href="https://www.linkedin.com"><img src="assets/img/Linkdin_logo.png" alt="footer_logo"
                    class="social-icons" /></a>
            <a href="https://www.instagram.com"><img src="assets/img/Instagram_logo.png" alt="footer_logo"
                    class="social-icons" /></a>
            <a href="https://twitter.com"><img src="assets/img/X_logo.png" alt="footer_logo" class="social-icons" /></a>
            <a href="https://www.indeed.com"><img src="assets/img/Indeed_logo.png" alt="footer_logo"
                    class="social-icons" /></a>
        </div>
        <p>&copy; 2025 InternShip</p>
    </footer>

</body>
</html>
