{# footer.twig #}

<link rel="stylesheet" href="assets/style.css">

<footer>
	<p>Service Client :</p>
	<p>Numéro : 09.01.02.03.04</p>
	<p>Adresse mail : InternShip.Contact@internship.fr</p>
	<a href="?page=LegalNotice" class='mention'>Mentions Légals</a>
        
	<div>
		<a href="https://www.linkedin.com"><img src="assets/img/Linkdin_logo.png" alt="footer_logo" class="social-icons"/></a>
		<a href="https://www.instagram.com"><img src="assets/img/Instagram_logo.png" alt="footer_logo" class="social-icons"/></a>
		<a href="https://twitter.com"><img src="assets/img/X_logo.png" alt="footer_logo" class="social-icons"/></a>
		<a href="https://www.indeed.com"><img src="assets/img/Indeed_logo.png" alt="footer_logo" class="social-icons"/></a>

	</div>
	<p>&copy; 2025 InternShip</p>
</footer>
