{% extends 'base.twig' %}

{% block title %}Mentions Légal{% endblock %}

{% block content %}

	<main class='legalmain'>
    <div class ='legalcontain'>
		<h1>Mentions Légales</h1>


		<h2>Éditeur du site</h2>
		<p>Nom de l'entreprise :
			<strong>Web4all</strong>
		</p>
		<p>Statut juridique : Association Loi 1901</p>

		<p>Adresse : 123 Rue Victor hugo, 75000 Paris, France</p>
		<p>Email : Internship@web4all.com</p>
		<p>Téléphone : +33 1 23 45 67 89</p>


		<h2>Hébergement</h2>
		<p>Nom de l'hébergeur :
			<strong>o2switch</strong>
		</p>
		<p>Adresse : CHE DES PARDIAUX 63000 CLERMONT FERRAND, France</p>
		<p>Site web :
			<a href="https://www.o2switch.fr/">www.o2switch.fr</a>
		</p>


		<h2>Propriété intellectuelle</h2>
		<p>Le contenu du site (textes, images, logo, etc.) est protégé par le droit d'auteur.</p>


		<h2>Politique de confidentialité</h2>
		<p>Les données personnelles collectées sont utilisées uniquement dans le cadre défini par notre politique de confidentialité.</p>


		<h3>Responsabilité</h3>
		<p>InternShip ne saurait être tenu responsable de l’utilisation du site par les utilisateurs ni des éventuels dommages résultant de son accès.</p>
	</div>
    </main>
{% endblock %}