{% extends 'base.twig' %}

{% block title %}Modify Account
{% endblock %}

{% block content %}

	<main class="main-modifyaccount">

		<div class="container">
			<h2>Voici le compte :</h2>

			<div class="profile-picture">

				<img id="profile-img" src="assets/img/pp.jpg" alt="Photo de profil" style="cursor: pointer;">
				<input type="file" id="file-input" accept="image/png, image/jpeg" style="display: none;">
			</div>
			<form method='POST'>
				<label for="description">Pour ajouter des détails au profil, décrivez le parcours ici :</label>
				<textarea id="description" name="details" placeholder="Ajoutez des détails" required></textarea>

				<label for="etude">Niveau d'étude :</label>
				<input type="text" id="etude" name="school" placeholder="Son niveau d'étude" required>

				<label for="adresse">Adresse :</label>
				<input type="text" id="adresse" name="address" placeholder="Son adresse" required>

				<label for="telephone">Numéro de téléphone :</label>
				<input type="tel" id="telephone" name="phone" placeholder="Son numéro de téléphone" pattern="[0-9]{10}" required>


				<label for="password">Mot de passe :</label>
				<input type="password" id="password" name="password" placeholder="Nouveau mot de passe" minlength="8" required>

				<label for="confirm-password">Confirmation du mot de passe :</label>
				<input type="password" id="confirm-password" name="confirm-password" placeholder="Confirmez du nouveau mot de passe" minlength="8" value="{{ password2 }}" required>

				<label for="confirm-password">{{error}}</label>

				<button type="SUBMIT" name="update_account" class="btn-primary">Enregistrement</button>
				
			</form>
			<form method="POST">
				<button type="submit" name="delete_account" class="btn-danger" >Supprimer</button>
			</form>
		</div>

	</main>


{% endblock %}
