body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('image/Blured_Background\(upscaled\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    background-position:center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}


header {
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    position: relative;
    width:auto;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 10px;
}

header img {
    height: 40px;
}

header h1 {
    color: black;
    font-size: 20px;
    margin: 0;
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color:#F5F5F5;
    padding: 5px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


footer {
    
    bottom: 0;
    left: 0;
    margin: 0;
    width:auto;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding:0px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

footer a {
    margin: 0 5px;
    color: #0056b3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Bloc_Authentification.active{
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.Bloc_Authentification h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.Bloc_Authentification p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.checkbox_connexion{
    margin-bottom: 20px;
}


.Bouton_connexion{
    margin-bottom: 100px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.Bloc_Authentification a {
    font-weight: bold;
    font-size: 14px;
    color: rgba(6, 71, 137, 0.9);;
    text-decoration: none;
    margin-bottom: 15px;
}

form a:hover {
    text-decoration: underline;
}

button {
    background-color: rgba(6, 71, 137, 0.9);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #004090;
}




.link {
    font-weight: bold;
    font-size: 14px;
    color: rgba(6, 71, 137, 0.9);;
    text-decoration: none;
    margin-bottom: 15px;
    cursor: pointer;
  }
  
  .link:hover {
    text-decoration: underline;
  }




.Bloc_Authentification{
    display: none;
}

.Bloc_Authentification.active{
    display: block;
}






#Type_Creation{
    padding: 40px 40px;
    .Bouton_connexion{
       margin-top: 45px;
    }
}


.Creation {
    display: none;
}


.Etudiant {
    display: none;
}




#formEntreprise{
    input{
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
    }
    #Nom_entreprise{
        margin-top: 30px;
    }
   
    
}


#formEtudiant{
    input{
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 14px;
    }
    #Nom{
        margin-top: 30px;
    }
   
    
}