body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('./img/Blured_Background\(upscaled\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

header {
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    position: relative;
    width:auto;
    padding: 1.1% 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    gap: 10%;
}

header img {
    width: 13%;
}

header h1 {
    color: black;
    font-size: 125%;
    margin: 0;
    flex: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color:#F5F5F5;
    padding: 0.5% 1%;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header a{
    text-decoration: none;
    background-color: rgba(6, 71, 137, 0.9);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}




footer {
    width: 100%;
    bottom: 0%;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 80%;
}

footer p {
    margin: 5px;
}


footer a {
    margin: 0 5px;
    color: #0056b3;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social-icons{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 0 5px;
    transition: transform 0.3s;
}

.social-icons:hover {
    transform: scale(1.1);
}


main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.Bloc_Authentification {
    flex: 1;
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    max-height: 400px;
    width: 100%;
    text-align: center;
   
}

.Bloc_Authentification h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.Bloc_Authentification p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.Bloc_Authentification .checkbox_connexion{
    margin-bottom: 20px;
}


.Bloc_Authentification .Bouton_connexion{
    margin-bottom: 100px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


form input[type="email"],
form input[type="password"] {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.Bloc_Authentification a {
    font-weight: bold;
    font-size: 14px;
    color: rgba(6, 71, 137, 0.9);;
    text-decoration: none;
    margin-bottom: 15px;
}

form a:hover {
    text-decoration: underline;
}

form button {
    background-color: rgba(6, 71, 137, 0.9);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #004090;
}










