
.main-modifyaccount {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.main-modifyaccount form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}




.main-modifyaccount .container {
    background: rgba(255, 255, 255, 0.75);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.main-modifyaccount .pp-txt{
    position: absolute;
    top: -70px; /* Ajustez cette valeur pour positionner le texte au-dessus de l'image */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;}


.main-modifyaccount .profile-picture {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 50px;
}

.main-modifyaccount .profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #ddd;
}

.main-modifyaccount .edit-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.main-modifyaccount form {
    display: flex;
    flex-direction: column;
}

.main-modifyaccount label {
    text-align: left;
    font-size: 14px;
    margin: 5px 0 2px;
}

.main-modifyaccount input, textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.main-modifyaccount textarea {
    resize: none;
    height: 80px;
}



.btn-primary {
    background: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-danger {
    
    background: #DC3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}